Repository MikeSchulze/gdUnit4Net, pull requests merged in 2024-06, with the labels that each got.

#108 GD-104: Fix exception failure message propagation
  api/src/core/execution/ExecutionStage.cs
  api/src/core/execution/TestSuiteExecutionStage.cs
  test/.runsettings
  test/src/core/ExecutorTest.cs
  test/src/core/resources/testsuites/mono/TestSuiteAllTestsFailWithExceptions.cs
Labels: bug

#109 Bump to `gdunit4.api` version 4.2.4
  .github/workflows/ci-pr.yml
  PackageVersions.props
  api/ReleaseNotes.txt
  api/gdUnit4Api.csproj
  api/icon.png
Labels: gdunit4.api

#111 GD-110: Allow a Node to be passed in to SceneRunner.Load as the root of the scene.
  api/src/ISceneRunner.cs
  api/src/core/SceneRunner.cs
  test/src/core/SceneRunnerCSharpSceneTest.cs
  test/src/core/resources/scenes/TestSceneWithInitialization.cs
  test/src/core/resources/scenes/TestSceneWithInitialization.tscn
Labels: enhancement, gdunit4.api

#118 GD-114: Fix test adapter `gdUnit4.api` version resolving
  testadapter/src/utilities/Utils.cs
Labels: bug, gdunit4.test.adapter

#119 GD-115: Fix Debug tests gets stuck when using `--verbose`
  PackageVersions.props
  example/nuget.config
  example/project.godot
  gdUnit4.sln
  global.json
  project.godot
  test/.runsettings
  test/nuget.config
  testadapter/src/execution/TestExecutor.cs
Labels: bug, gdunit4.test.adapter

#120 GD-116: Add publish WF to publish test reports in a separate way
  .github/actions/upload-test-report/action.yml
  .github/workflows/ci-pr-publish-report.yml
  .github/workflows/unit-tests.yml
  .gitignore
  test/.runsettings
  test/.runsettings-ci
Labels: enhancement, ci

#122 GD-121: Improve `AssertSignal` by adding a `StartMonitoring` method
  api/src/Assertions.cs
  api/src/ISignalAssert.cs
  api/src/asserts/SignalAssert.cs
  api/src/core/signals/GodotSignalCollector.cs
  test/src/asserts/SignalAssertTest.cs
Labels: enhancement, gdunit4.api

#123 GD-87: Remove temporary solution of `Godot.SourceGenerators.MustBeVariantAnalyzer` warnings
  .github/workflows/ci-pr-publish-report.yml
  .github/workflows/ci-pr.yml
  example/exampleProject.csproj
  global.json
  test/gdUnit4Test.csproj
  test/src/core/SceneRunnerInputEventIntegrationTest.cs
Labels: Refactoring, gdunit4.api, gdunit4.test.adapter

#129 GD-127: Replace stdout based TestEventProcessor by IPC implementation
  .gitignore
  PackageVersions.props
  api/src/api/TestAdapterReporter.cs
  api/src/api/TestReporter.cs
  api/src/api/TestRunner.cs
  api/src/core/event/TestEventListener.cs
  api/src/core/execution/Executor.cs
  gdUnit4Net.sln
  gdUnit4Net.sln.DotSettings.user
  icon.svg
  project.godot
  test/src/GdUnit4NetAPITest.cs
  test/src/core/ExecutorTest.cs
  testadapter/src/GdUnit4TestDiscoverer.cs
  testadapter/src/GdUnit4TestExecutor.cs
  testadapter/src/execution/BaseTestExecutor.cs
  testadapter/src/execution/ITestExecutor.cs
  testadapter/src/execution/TestEventReportServer.cs
  testadapter/src/execution/TestExecutor.cs
  testadapter/src/utilities/Utils.cs
Labels: enhancement, gdunit4.api, gdunit4.test.adapter
